{#
Renders a media item for a group. This should be used in a list.

group - A group dict.

Example:

    <ul class="media-grid">
      {% for group in groups %}
        {% snippet "group/snippets/group_item.html", group=group %}
      {% endfor %}
    </ul>
#}
{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
{% block item %}
<li class="media-item group-home-item">
  {% block item_inner %}
  {% block icon %}
    <span class="subject-area-icon group-home-icon {{ group.name}}"></span>
  {% endblock %}
  {% block title %}
    <h3 class="media-heading">{{ h.get_translated(group, 'title') or group.display_name }}</h3>
  {% endblock %}
  {% block link %}
    <a href="{{ url }}" title="{{ _('View {name}').format(name=h.get_translated(group, 'title') or group.display_name) }}" class="media-view no-border">
      <span>{{ _('View {name}').format(name=h.get_translated(group, 'title') or group.display_name) }}</span>
    </a>
  {% endblock %}
  {% endblock %}
</li>
{% endblock %}

